:root{
    /* icon */
    --degradado-color-top: #17aafd;
    --degradado-color-bottom: #036ae3;

    /* bg ipt & btns */
    --bg-btns: #f0f2f5;

    /* icon active */
    --icon-color-active: #1b74e4;

    /* icon no active */
    --icon-color-no-active: #65676b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}


/* navbar */
.navbar{
    width: 100%;
    height: 55px;
    box-shadow: 1px 1px 5px #80808071;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 15px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background: #fff;
}


/* NAVBAR LEFT SIDE */
.icon-search-group{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-left__icon{
    padding-top: 2px;
    margin-right: 15px;
}

.navbar-left__icon > a{
    text-decoration: none;
}

.navbar-left__icon > a > i{
    background: linear-gradient(to top, var(--degradado-color-bottom), var(--degradado-color-top));
    color: transparent;
    -webkit-background-clip: text;
    font-size: 40px;
}

.navbar-left__search{
    width: 250px;
    height: 40px;
    border-radius: 50px;
    background: var(--bg-btns);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.navbar-left__search > i{
    width: 20%;
    height: 100%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-left__search > input{
    width: 80%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 16px;
    background: transparent;
    text-overflow: ellipsis;
    padding-right: 15px;
}

/* NAVBAR CENTER SIDE */
.navbar-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-center > a{
    text-decoration: none;
    margin: 0 5px;
}

.navbar-center__btn{
    width: 100px;
    height: 48px;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    font-size: 25px;
    border-radius: 5px;
    color: var(--icon-color-no-active);
    position: relative;
}

/* btn tool */

/* home */
.home-btn::after{
    content: 'Inicio';
    position: absolute;
    bottom: -43px;
    left: 50%;
    transform: translateX(-50%);
    background: #000000a6;
    border-radius: 7px;
    padding: 10px 15px;
    font-size: 13.5px;
    color: #fff;
    opacity: 0;
    box-shadow: 2px 2px 7px gray;
    pointer-events: none;
}

.home-btn:hover:after{
    opacity: 1;
}


/* pages */
.pages-btn::after{
    content: 'Páginas';
    position: absolute;
    bottom: -43px;
    left: 50%;
    transform: translateX(-50%);
    background: #000000a6;
    border-radius: 7px;
    padding: 10px 15px;
    font-size: 13.5px;
    color: #fff;
    opacity: 0;
    box-shadow: 2px 2px 7px gray;
    pointer-events: none;
}

.pages-btn:hover:after{
    opacity: 1;
}


/* watch */
.watch-btn::after{
    content: 'Watch';
    position: absolute;
    bottom: -43px;
    left: 50%;
    transform: translateX(-50%);
    background: #000000a6;
    border-radius: 7px;
    padding: 10px 15px;
    font-size: 13.5px;
    color: #fff;
    opacity: 0;
    box-shadow: 2px 2px 7px gray;
    pointer-events: none;
}

.watch-btn:hover:after{
    opacity: 1;
}


/* Marketplace */
.marketplace-btn::after{
    content: 'Marketplace';
    position: absolute;
    bottom: -43px;
    left: 50%;
    transform: translateX(-50%);
    background: #000000a6;
    border-radius: 7px;
    padding: 10px 15px;
    font-size: 13.5px;
    color: #fff;
    opacity: 0;
    box-shadow: 2px 2px 7px gray;
    pointer-events: none;
}

.marketplace-btn:hover:after{
    opacity: 1;
}


/* grupos */
.grupos-btn::after{
    content: 'Grupos';
    position: absolute;
    bottom: -43px;
    left: 50%;
    transform: translateX(-50%);
    background: #000000a6;
    border-radius: 7px;
    padding: 10px 15px;
    font-size: 13.5px;
    color: #fff;
    opacity: 0;
    box-shadow: 2px 2px 7px gray;
    pointer-events: none;
}

.grupos-btn:hover:after{
    opacity: 1;
}
/* ------- */

.active-fill{
    display: none;
}

.btn-active > .active-fill{
    display: block;
}

.btn-active > i{
    display: none;
}

.navbar-center__btn:not(.btn-active):hover{
    background: var(--bg-btns);
}

.btn-active{
    color: var(--icon-color-active);
}

.btn-active::before{
    content: '';
    background: var(--icon-color-active);
    width: 100%;
    height: 4px;
    border-radius: 50px;
    position: absolute;
    bottom: -4px;
    left: 0;
    transform: translate();
}

/* NAVBAR RIGHT SIDE */
.navbar-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-right > .navbar-right__profile{
    text-decoration: none;
    color: black;
}

.navbar-right > .navbar-right__profile > div{
    padding: 5px;
    height: 40px;
    border-radius: 50px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.navbar-right > .navbar-right__profile > div:hover{
    background: var(--bg-btns);
}

.navbar-right > .navbar-right__profile > div:active{
    font-size: 15px;
}

.navbar-right > .navbar-right__profile > div > img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
    object-fit: cover;
}

.navbar-right > .navbar-right__profile > div > span{
    font-weight: bold;
    margin-right: 3px;
}

.navbar-right > .navbar-right__btn{
    padding-top: 1px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 17px;
    background: var(--bg-btns);
    cursor: pointer;
    outline: none;
    border: none;
    margin: 0 3px;
    position: relative;
}

.navbar-right > .navbar-right__btn:hover{
    background: #e6e7e9;
}

/* right sidebar btn tools */

/* btn menu */
.btn-menu::after{
    content: 'Menú';
    position: absolute;
    bottom: -47px;
    left: 50%;
    transform: translateX(-50%);
    background: #000000a6;
    border-radius: 7px;
    padding: 10px 15px;
    font-size: 13.5px;
    color: #fff;
    opacity: 0;
    box-shadow: 2px 2px 7px gray;
    pointer-events: none;
}

.btn-menu:hover:after{
    opacity: 1;
}

/* btn messenger */
.btn-messenger::after{
    content: 'Messenger';
    position: absolute;
    bottom: -47px;
    left: 50%;
    transform: translateX(-50%);
    background: #000000a6;
    border-radius: 7px;
    padding: 10px 15px;
    font-size: 13.5px;
    color: #fff;
    opacity: 0;
    box-shadow: 2px 2px 7px gray;
    pointer-events: none;
}

.btn-messenger:hover:after{
    opacity: 1;
}

/* btn bell */
.btn-bell::after{
    content: 'Notificaciones';
    position: absolute;
    bottom: -47px;
    left: 50%;
    transform: translateX(-50%);
    background: #000000a6;
    border-radius: 7px;
    padding: 10px 15px;
    font-size: 13.5px;
    color: #fff;
    opacity: 0;
    box-shadow: 2px 2px 7px gray;
    pointer-events: none;
}

.btn-bell:hover:after{
    opacity: 1;
}

/* btn arrow */
.btn-arrow::after{
    content: 'Cuenta';
    position: absolute;
    bottom: -47px;
    left: 50%;
    transform: translateX(-50%);
    background: #000000a6;
    border-radius: 7px;
    padding: 10px 15px;
    font-size: 13.5px;
    color: #fff;
    opacity: 0;
    box-shadow: 2px 2px 7px gray;
    pointer-events: none;
}

.btn-arrow:hover:after{
    opacity: 1;
}


/* -------------------------------------------------------- *

/* MEDIAQUERIES */

@media screen and (max-width: 1280px){
    .navbar-left__search{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: var(--bg-btns);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        cursor: pointer;
    }
    
    .navbar-left__search > i{
        width: 100%;
        height: 100%;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .navbar-left__search > input{
        display: none;
    }

    .navbar-right > .navbar-right__profile > div{
        display: none;
    }
}

@media screen and (max-width: 990px){
    .navbar-center > a > .navbar-center__btn{
        margin: 0 5px;
        width: 70px;
    }
}

@media screen and (max-width: 870px){
    .navbar-center > a > .navbar-center__btn{
        width: 50px;
    }
}

@media screen and (max-width: 760px){
    .navbar{
        width: 100%;
        height: 55px;
        box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.445);
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        padding: 0 15px;
    }
    .navbar-center{
        display: none;
    }
}

@media screen and (max-width: 380px){
    .navbar{
        width: 100%;
        height: 55px;
        box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.445);
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 10px;
        padding: 0 15px;
    }

    .navbar-right{
        display: none;
    }
}