:root{
    --bg-color: #f0f2f5;
    --blue-color: #1877f2;
    --bg-btn-register: #42b72a;
    --text-color: #1c1e21;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: sans-serif;
    background: #fff;
}

.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background: var(--bg-color);
}

.container{
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin: 100px 0;
    background: var(--bg-color);
}

.container__left{
    width: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 15px;
}

.container__logo > img{
    width: 250px;
}

.container__text{
    color: var(--text-color);
    font-size: 28px;
}


/* right */

.container__right{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 30px;
}

.form-container{
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    padding: 17px;
    border-radius: 10px;
}

.form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 15px;
}

.form__input{
    width: 100%;
}

.form__input > input{
    width: 100%;
    border: none;
    outline: 1.5px solid #dddfe2;
    padding: 10px;
    height: 50px;
    border-radius: 5px;
    font-size: 16px;
}

.form__input > input:focus{
    border: 1px solid var(--blue-color);
    outline: 2px solid #1873f22e;
}

.form__input > input:focus::placeholder{
    color: #aeb0b1;
}

.form__input > input::placeholder{
    color: #90949c;
}

.form__login-btn{
    width: 100%;
}

.form__login-btn > a{
    display: inline-block;
    width: 100%;
    height: 50px;
    background-color: var(--blue-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    transition: all .3s;
}

.form__login-btn > a:hover{
    background-color: #186fe1;
}

.form__pwrd-link{
    width: 100%;
    text-align: center;
}

.form__pwrd-link > a{
    display: inline-block;
    font-size: 13px;
    color: var(--blue-color);
}

.form__pwrd-link > a:hover{
    text-decoration: underline;
}

hr{
    margin: 15px 0;
    opacity: .4;
}

.container__btn-create-account{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__btn-create-account > button{
    width: 50%;
    height: 50px;
    background-color: var(--bg-btn-register);
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    transition: all .3s;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

.container__btn-create-account > button:hover{
    background-color: #32ad1a;
}

.form-footer{
    width: 100%;
    text-align: center;
}

.form-footer > span{
    color: var(--text-color);
    font-size: 15px;
}

.form-footer > span > a{
    font-weight: bold;
    color: #000;
}

.form-footer > span > a:hover{
    text-decoration: underline;
}

/* footer */

.footer{
    width: 100%;
    background: #fff;
    padding: 30px 10px;
}

.link{
    color: #8a8d91;
    font-size: 13px;
    margin: 0 2px;
}

.link:hover{
    text-decoration: underline;
}

.footer__wrapper{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 20px;
}

.footer__wrapper > hr{
    width: 100%;
    margin: 0;
}

.footer__lang > button{
    background: #f7f7f7;
    border: 1px solid #80808080;
    font-size: 18px;
    cursor: pointer;
    height: 20px;
    padding: 0 5px;
    transition: all .3s;
}

.footer__lang > button:hover{
    background: #ededed;
}

.footer__links{
    display: flex;
    column-gap: 10px;
    row-gap: 5px;
    justify-content: start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer__copy{
    color: #8a8d91;
    font-size: 13px;
    margin: 0 2px;
}














/* mediaqueries */

@media screen and (max-width: 1000px){
    .container__text{
        font-size: 24px;
    }
}

@media screen and (max-width: 900px){
    .container{
        flex-direction: column;
    }

    .container__left{
        width: 100%;
        max-width: 500px;
        justify-content: center;
        align-items: center;
    }

    .container__text{
        text-align: center;
    }
}

@media screen and (max-width: 600px){
    .container__logo > img{
        width: 40vw;
    }
    
    .container__text{
        font-size: 4vw;
    }

    .wrapper{
        padding: 10px;
    }

    .form__input > input{
        height: 35px;
    }

    .form__login-btn > a{
        height: 35px;
        font-size: 15px;
    }

    .container__btn-create-account > button{
        width: 70%;
        height: 35px;
        font-size: 15px;
        margin: 5px 0;
    }
}